:root {
  --brown: #210F04;
  --cream: #FFFEBD;
  --white: #ffffff;
  --font: 'Courier New', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--brown)
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brown);
    color: var(--white);
    padding: 20px 40px;
}

.logo img { 
    height: 120px; 
    width: auto; 
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: -15px;
    margin-top: -15px;
}

nav ul {
    display: flex;
    gap: 30px;
}

.header-icons {
    display: flex;
    gap: 20px;
}

nav a {
  letter-spacing: 2px;
  font-size: 0.9rem;
}

/*FOOTER*/

footer {
  background-color: var(--brown);
  color: var(--white);
  padding: 10px 40px;
}

.footer-logo img {
    height: 100px; 
    width: auto; 
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    gap: 30px;
}

.socials-label {
    display: flex;
    justify-content: center;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 15px;
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 70px;
}

.footer-disclaimer {
    text-align: center;
    margin-top: -25px;
    padding-top: 10px;
    font-size: 0.8rem;
    opacity: 0.7;
}